* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100vh;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75%;
  padding-top: 60px;
}
.main_container, .homepage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
}
.main_container {
    padding-top: 100px;
}
.homepage_container {
    padding-top: 60px;

}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.banner_container {
  width: 100%;
}

.banner_container img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: blue;
}

.banner_container {
  width: 100%;
}

.banner_container img {
  width: 100%;
  height: auto;
}
.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 800;
}
