.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f2
}

.cadastro form {
    box-shadow: 4px 4px 20px#aaaa;
    width: 100%;
    max-width: 420px;
    padding: .95rem;
    border-radius: 5px;
    font-weight: bold;
}

.cadastro .field label {
    padding-top: 15px;
    display: block;
}

.cadastro .field input {
    width: 100%;
}

.cadastro .actions {
    color: red;
    display: flex;
    justify-content: space-between;
    padding-left: px;
    text-align: right;
    margin-top: 1rem;
    gap: 8px;
}

.cadastro .actions button {
    color: white;
    background: #8c2016;
    border: solid 1px #8c2016;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
}

.cadastro .actions button:hover {
    background-color: transparent;
    color: #8c2016;
    border: solid 1px #8c2016;
    font-weight: bold;
    transition: 0.2s;
}