.filtro {
  display: none;
}

.filtro--active {
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
}

.contaiderButtons button{
  width: 130px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 0px 5px 0px 5px;
  background-color: #37a6a6;
  color: white;

}
